<section id="new">
  <h1><%= t ".title" %></h1>
  <div class="col-md-8 col-md-offset-2" id="mainarea">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <table dir="ltr" class="default_dg_table">
      <tbody>
        <tr class="dg_tr" id="di_row_">
          <th class="default_dg_th dg_center dg_nowrap"><b><%= t ".field" %></b></th>
          <th class="default_dg_th dg_center dg_nowrap" colspan="2"><b><%= t ".value" %></b></th>
        </tr>
        <tr class="dg_tr" id="di_row_0">
          <td class="default_dg_td dg_left dg_nowrap"><b><%= t ".name" %></b></td>
          <td class="default_dg_td dg_left"><%= @menu.name %></td>
        </tr>
        <tr class="dg_tr" id="di_row_0">
          <td class="default_dg_td dg_left dg_nowrap"><b><%= t ".description" %></b></td>
          <td class="default_dg_td dg_left" colspan="2"><%= @menu.description %></td>
        </tr>
      </tbody>
    </table>
    <br>
    <h2><%= t ".dishes" %></h2>
    <table dir="ltr" class="default_dg_table">
      <tbody>
        <tr class="dg_tr" style="" id="di_row_">
          <th class="default_dg_th dg_center dg_nowrap" colspan="2"><%= t ".name" %></th>
          <th class="default_dg_th dg_center dg_nowrap">
            <%= t ".category" %>
          </th>
          <th class="default_dg_th dg_center dg_nowrap">
            <%= t ".opition" %>
          </th>
        </tr>
        <% @menu.dishes.each do |f| %>
        <tr class="dg_tr" id="di_row_0">
          <td class="default_dg_td dg_left dg_nowrap" colspan="2"><%= f.name %></td>
          <td class="default_dg_td dg_left dg_nowrap">
            <%= f.category.name %>
          </td>
          <td class="default_dg_td dg_center dg_nowrap">
            <%= link_to t(".delete_dish_button"),
              admin_menu_dish_path(@menu.id, f.id),
              method: :delete, data: {confirm: t(".delete_warning")} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to t(".edit_menu_button"), edit_admin_menu_path(@menu),
      class: "btn btn-primary col-md-2 col-md-offset-5" %>
  </div>
</section>
